WebServisVeriListeleme/WebServisVeriListeleme/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="VeriListele">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VeriListeleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VeriListeleResult" type="tns:ArrayOfVeriler" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVeriler">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Veriler" nillable="true" type="tns:Veriler" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Veriler">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Soyad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VeriEkle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soyad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VeriEkleResponse">
        <s:complexType />
      </s:element>
      <s:element name="VeriSil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VeriSilResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VeriListeleSoapIn">
    <wsdl:part name="parameters" element="tns:VeriListele" />
  </wsdl:message>
  <wsdl:message name="VeriListeleSoapOut">
    <wsdl:part name="parameters" element="tns:VeriListeleResponse" />
  </wsdl:message>
  <wsdl:message name="VeriEkleSoapIn">
    <wsdl:part name="parameters" element="tns:VeriEkle" />
  </wsdl:message>
  <wsdl:message name="VeriEkleSoapOut">
    <wsdl:part name="parameters" element="tns:VeriEkleResponse" />
  </wsdl:message>
  <wsdl:message name="VeriSilSoapIn">
    <wsdl:part name="parameters" element="tns:VeriSil" />
  </wsdl:message>
  <wsdl:message name="VeriSilSoapOut">
    <wsdl:part name="parameters" element="tns:VeriSilResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="VeriListele">
      <wsdl:input message="tns:VeriListeleSoapIn" />
      <wsdl:output message="tns:VeriListeleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VeriEkle">
      <wsdl:input message="tns:VeriEkleSoapIn" />
      <wsdl:output message="tns:VeriEkleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VeriSil">
      <wsdl:input message="tns:VeriSilSoapIn" />
      <wsdl:output message="tns:VeriSilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VeriListele">
      <soap:operation soapAction="http://tempuri.org/VeriListele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeriEkle">
      <soap:operation soapAction="http://tempuri.org/VeriEkle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeriSil">
      <soap:operation soapAction="http://tempuri.org/VeriSil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VeriListele">
      <soap12:operation soapAction="http://tempuri.org/VeriListele" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeriEkle">
      <soap12:operation soapAction="http://tempuri.org/VeriEkle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VeriSil">
      <soap12:operation soapAction="http://tempuri.org/VeriSil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:12226/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:12226/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>